{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm mt-5">
      <div class="card-body">
        <h4 class="card-title text-center mb-4">Login to your account</h4>

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}

          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="Username"
              id="usernameField"
              value="{{ fieldValues.username }}"
              class="form-control form-control-lg"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-lg"
              id="passwordField"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg">
            Login
          </button>
        </form>

        <p class="text-center mt-3 mb-0">
          Don’t have an account? <a href="{% url 'register' %}">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
